@charset "utf-8";
/*Midterm Project
Author: Jordyn Merchant
Filename: czechinfo.css*/
/*Body*/
p {
    margin: 6px;
    padding: 4px;
}
h1 {
    font-size: 30pt;
    text-align: center;
    color: rgb(218, 201, 231);
    text-shadow: rgb(35, 53, 58), rgba(21, 21, 21, 70%);
}
/*Form Styles*/
form#czechinfo {
    border: 5px solid rgb(59, 53, 83);
    width: 100%;
    display: block;
    float: left;
    font-size: 14pt;
    margin: 8px;
    padding: 5px;
}
form#czechinfo > input {
    width: 95%;
    height: 10px;
    margin: 5px;
    padding: 3px;
}
form#czechinfo > input#additional {
    height: 100px;
}